#search_location_autointernal {
    display: none;
}

.user_dashboard_panel .invoice_table {
    width: 40%;
}

.invoice_table .invoice_row.invoice_content span {
    width: 33%;
}

.property_listing img {
    width: 100%;
    min-height: 250px;
    max-height: none;
}

.search-result-title {
    margin-left: 15px;
}

.search-result-section .property_listing {
    max-width: none;
}

.header-language-switcher {
    float: right;
    clear: right;
}

.user_loged .header-language-switcher {
    margin-left: 15px;
}

.guest_user .header-language-switcher {
    margin: -10px 0 150px 15px;
}

.header_wrapper.header_type1.header_align_left #user_menu_open {
    width: 40%;
}

.header_wrapper.header_type1.header_align_left #user_menu_open a {
    width: 33%;
}

.widget-area-sidebar .reservation_buttons > div {
    height: 70px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.create_invoice_form .invoice_data_legend {
    width: auto;
    margin-right: 10px;
}

.user_dashboard_panel{
    min-width: 98% !important;
}

.booking-calendar-wrapper-in-wrapper{
    max-width: none;
}